.InfoSection{
    height: 300px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.list-header{
	width: 100%;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;

}
.list-header-li{
	width: 13%;
	height: 40px;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-right: 3%; 
	background: rgba(163, 167, 179, 0.82);
	border-radius: 10px;
}
.list-header-li a{
	text-decoration: none;
	color: white;
}
.list-header-li p{
	margin-top: 10px;
}




.list-vertical{
	width: 100%;

}
.list-vertical-li{
	background: rgba(163, 167, 179, 0.82);
	text-align: center;
	list-style: none;
	width: auto;
	margin-bottom: 1.2em;
	border-radius: 21px;
}
.list-vertical-li a{
	color: white;
	text-decoration: none;
	line-height: 38px;
	width: 100%;
	margin-right: 1em;
	margin-left: 1em;
}







.ListFooter{
	width: 100%;
	height: 200px;
	margin: 0 auto;
}
.ListFooter>ul{
	margin: 0;
	padding: 0;
	width: 100%;
}
.ListFooter>ul>li{
	list-style: none;
	float: left;
	height: 200px;
	margin-right: 10px;
}
#ListFooter-first-li{
	width: 15%;
}
#ListFooter-second-li{
	width: 25%;
}
#ListFooter-thrid-li{
	width: 25%;
}
#ListFooter-fourth-li{
	width: 15%;
}